/* Write your CSS here */
.video-container {
  width: 100px;
  height: 40px;
  margin: 20px;
}
.popupcont {
  background-color: white;
  padding: 20px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.closebutton {
  align-self: flex-end;
}
